Repository PyLav/Red-Cogs, pull requests merged in 2023-05, with the labels that each got.

#313 New Crowdin translations by GitHub Action
  plmigrator/locales/bg-BG.po
  plmigrator/locales/cs-CZ.po
  plmigrator/locales/da-DK.po
  plmigrator/locales/de-DE.po
  plmigrator/locales/el-GR.po
  plmigrator/locales/es-ES.po
  plmigrator/locales/fi-FI.po
  plmigrator/locales/fr-FR.po
  plmigrator/locales/hi-IN.po
  plmigrator/locales/hr-HR.po
  plmigrator/locales/hu-HU.po
  plmigrator/locales/id-ID.po
  plmigrator/locales/it-IT.po
  plmigrator/locales/ja-JP.po
  plmigrator/locales/ko-KR.po
  plmigrator/locales/lt-LT.po
  plmigrator/locales/nb-NO.po
  plmigrator/locales/nl-NL.po
  plmigrator/locales/pl-PL.po
  plmigrator/locales/pt-BR.po
  plmigrator/locales/ro-RO.po
  plmigrator/locales/ru-RU.po
  plmigrator/locales/sv-SE.po
  plmigrator/locales/th-TH.po
  plmigrator/locales/tr-TR.po
  plmigrator/locales/uk-UA.po
  plmigrator/locales/vi-VN.po
  plmigrator/locales/zh-CN.po
  plmigrator/locales/zh-TW.po
Labels: i18n, translations, automerge

#315 Add percent support to `seek`
  audio/hybrid_commands.py
Labels: Category: PyLavPlayer

#316 New Crowdin translations by GitHub Action
  audio/locales/bg-BG.po
  audio/locales/cs-CZ.po
  audio/locales/da-DK.po
  audio/locales/de-DE.po
  audio/locales/el-GR.po
  audio/locales/es-ES.po
  audio/locales/fi-FI.po
  audio/locales/fr-FR.po
  audio/locales/hi-IN.po
  audio/locales/hr-HR.po
  audio/locales/hu-HU.po
  audio/locales/id-ID.po
  audio/locales/it-IT.po
  audio/locales/ja-JP.po
  audio/locales/ko-KR.po
  audio/locales/lt-LT.po
  audio/locales/nb-NO.po
  audio/locales/nl-NL.po
  audio/locales/pl-PL.po
  audio/locales/pt-BR.po
  audio/locales/ro-RO.po
  audio/locales/ru-RU.po
  audio/locales/sv-SE.po
  audio/locales/th-TH.po
  audio/locales/tr-TR.po
  audio/locales/uk-UA.po
  audio/locales/vi-VN.po
  audio/locales/zh-CN.po
  audio/locales/zh-TW.po
Labels: i18n, translations, automerge

#309 PyLav PR #228
  .pre-commit-config.yaml
  Makefile
  README.md
  audio/cog.py
  audio/context_menus.py
  audio/hybrid_commands.py
  audio/info.json
  audio/player_commands.py
  audio/slash_commands.py
  info.json
  plconfig/info.json
  plconfig/view.py
  plcontroller/cog.py
  plcontroller/info.json
  plcontroller/view.py
  pleffects/cog.py
  pleffects/info.json
  pllocal/cog.py
  pllocal/info.json
  pllyrics/cog.py
  pllyrics/info.json
  plmanagednode/cog.py
  plmanagednode/info.json
  plmigrator/cog.py
  plmigrator/info.json
  plnodes/info.json
  plnotifier/cog.py
  plnotifier/info.json
  plplaylists/cog.py
  plplaylists/info.json
  plradio/cog.py
  plradio/info.json
  plutils/cog.py
  plutils/info.json
  pyproject.toml
  tools/dependency_updater.py
Labels: Category: PyLavPlayer, Category: PyLavLyrics, Category: CI, Category: PyLavEffects, Category: PyLavNotifier, Category: PyLavPlaylists, Category: Admin, Category: PyLavLocalFiles, Category: PyLavRadio, Category: PyLavConfigurator, Category: PyLavManagedNode, Category: PyLavMigrator, Category: PyLavNodes, Category: PyLavUtils
